body, h1, div, p {
  margin: 0;
  border: 0;
  padding: 0;
}

#main {
  text-align: center;
  padding: 10px;
  border: 2px solid lightgray;
  width: 740px;
  height: 560px;
  background-color: white;
  border-radius: 20px;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

#menu {
  text-align: center;
  margin: auto;
  width: 400px;
  height: 100px;
  border-radius: 20px;
  background: white;
  border: 2px solid #304550;
  position: absolute;
  top: -30px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 3;
  visibility: hidden;
}

.menu-enter{
  animation-name: slideDown;
  -webkit-animation-name: slideDown;

  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;

  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;

  visibility: visible !important;
}

@keyframes slideDown {
  0% {
    -webkit-transform: scale(0);
  }
  /*50%{
    -webkit-transform: translateY(8%);
  }*/
  70%{
    -webkit-transform: scale(1);
  }
  85%{
    -webkit-transform: scale(1.02);
  }
  100%{
    -webkit-transform: scale(1);
  }
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: scale(0);
  }
  /*50%{
    -webkit-transform: translateY(8%);
  }*/
  70%{
    -webkit-transform: scale(1);
  }
  85%{
    -webkit-transform: scale(1.02);
  }
  100%{
    -webkit-transform: scale(1);
  }
}

#fast {
  position: absolute;
  color:#6e9cb7;
  font-size:38px;
  left: 55px;
  bottom: 110px;
}

#fast:hover{
  color:#304550;
}

#menu p {
  color: #304550;
  font-family: 'copper';
  font-size: 20px;
  cursor: default;
  margin: 10px 0;
  progress !important;
}

#counter {
  pointer-events: none;
  text-align: center;
  margin: auto;
  width: 800px;
  height: 100px;
  border-radius: 20px;
  position: absolute;
  top: -25%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 2;
}

#counter-text {
  pointer-events: none;
  color: #304550;
  font-family: 'copper';
  font-size: 50px;
  cursor: default;
}

#play {
  border: 1px solid lightgray;
  background: white;
  padding: 5px;
  border-radius: 10px;
  color:#304550;
  font-size: 25px;
}

#play:hover {
  cursor: url(http://cur.cursors-4u.net/others/oth-5/oth436.cur),
  progress !important;
}


#spaces {
  width: 601px;
  height: 427;
  display: inline-block;
  margin: auto;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

#level {
  position: absolute;
  font-family: 'copper';
  font-size: 30px;
  color: #304550;
  right: 50px;
  bottom:14px;
}

#side-tiles{
  display: inline-block;
  width: 62;
  height: 305;
  margin-right:10px;
  position: relative;
  top: -120px;
  overflow: hidden;
}

#main:hover {
  cursor: url(http://cur.cursors-4u.net/others/oth-5/oth436.cur),
  progress !important;
}

#sludge {
  position: absolute;
  overflow: auto;
  left: 0;
  top:0;
  z-index: 2;
}

#score {
  color: #304550;
  font-family: 'copper';
  padding-top: 3px;
  font-size: 35px;
}

#high-score {
  position: absolute;
  bottom: 4px;
  left:45px;
  color: #304550;
  margin: 10px 0px;
  font-family: 'copper';
  font-size: 35px;
}

.empty:hover {
  background-color: lightgrey;
}
body{
  background-color: #6e9cb7;
}

.black-bg{
  background-color: black;
}

@font-face {
    font-family: 'copper';
    src: url(copper.ttf);
}

h1 {
  margin: auto;
  font-size:50px;
  font-family: 'copper';
  text-align: center;
  color: #304550;
  padding:10px 0 20px 0;
}

.tile {
  background-color: #f4f4f4;
  position: relative;
  width: 60px;
  height: 60px;
  box-sizing: content-box;
  z-index: 1;
  border-radius: 5px;
}

.empty {
  border:1px solid lightgray;
  border-radius: 5px;
  background-color: #f4f4f4;
  position: relative;
  width: 60px;
  height: 60px;
  z-index: 1;
  box-sizing: border-box;

}

.barrier {
  /*border:1px solid lightgray;*/
  border-radius: 5px;
  background-color: #6e9cb7;
  position: relative;
  width: 60px;
  height: 60px;
  z-index: 1;
  box-sizing: content-box;
}

.start {
  background-color: #f4f4f4;
  position: relative;
  border-radius: 5px;
  width: 60px;
  height: 60px;
  z-index: 1;
  box-sizing: content-box;
}

.end {
  background-color: #f4f4f4;
  position: relative;
  border-radius: 5px;
  width: 60px;
  height: 60px;
  z-index: 1;
  box-sizing: content-box;
}

.option {
  border:1px solid lightgray;
  border-radius: 5px;
  background-color: #f4f4f4;
  position: absolute;
  left: 0;
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}



.hidden {
  display: none;
}


.opacity-low {
  opacity: 1;
}

.opacity-medium {
  opacity: 1;
}
